# THỰC HÀNH

#### Thực hiện các yêu cầu sau: 
    
- Tìm số lớn nhất? 
- Tìm số bé nhất? 
- Số lượng số nhỏ hơn giá trị trung bình? 
- Số lượng số lớn hơn giá trị trung bình? 
- Số lần xuất hiện của các số trong Series? 
- Tính số lượng số chẵn? 
- Tính số lượng số lẻ? 
- Tính số lượng số dương?

In [5]:
import random

import pandas as pd

In [19]:
numbers = [i for i in range(100)]

data = pd.Series([random.choice(numbers) for _ in range(100)])

data.values

array([77, 35, 59, 46, 53, 30, 85, 77, 28, 22, 86, 45, 46,  1, 80, 36, 20,
        7, 85, 97, 32, 16, 67, 87, 15, 97, 85, 46, 20, 46, 84, 65, 43,  7,
       60, 47, 61, 51, 22,  8, 54, 15, 58, 24, 59, 91,  0, 66, 57, 62, 70,
       97, 15, 60, 54, 28, 18, 21, 48, 15, 53, 55, 39, 32, 92, 35, 55, 41,
       20, 52, 33, 23, 69, 20, 80, 20, 65, 51, 71, 26, 47, 94, 54, 72, 69,
       72, 44, 65, 75, 71, 42, 50, 67, 88, 24, 58, 52, 82, 98, 68],
      dtype=int64)

In [20]:
data.values

array([77, 35, 59, 46, 53, 30, 85, 77, 28, 22, 86, 45, 46,  1, 80, 36, 20,
        7, 85, 97, 32, 16, 67, 87, 15, 97, 85, 46, 20, 46, 84, 65, 43,  7,
       60, 47, 61, 51, 22,  8, 54, 15, 58, 24, 59, 91,  0, 66, 57, 62, 70,
       97, 15, 60, 54, 28, 18, 21, 48, 15, 53, 55, 39, 32, 92, 35, 55, 41,
       20, 52, 33, 23, 69, 20, 80, 20, 65, 51, 71, 26, 47, 94, 54, 72, 69,
       72, 44, 65, 75, 71, 42, 50, 67, 88, 24, 58, 52, 82, 98, 68],
      dtype=int64)

In [4]:
data

0      9
1     60
2     45
3     34
4     89
      ..
95    24
96     3
97    32
98    97
99    12
Length: 100, dtype: int64

### Label vs. Location

#### The main distinction between the two methods is:

- loc gets rows (and/or columns) with particular labels.

- iloc gets rows (and/or columns) at integer locations.

In [ ]:
s = pd.Series(list("abcdef"), index=[49, 48, 47, 0, 1, 2]) 
49    a
48    b
47    c
0     d
1     e
2     f

>>> s.loc[0]    # value at index label 0
'd'

>>> s.iloc[0]   # value at index location 0
'a'

>>> s.loc[0:1]  # rows at index labels between 0 and 1 (inclusive)
0    d
1    e

>>> s.iloc[0:1] # rows at index location between 0 and 1 (exclusive)
49    a

In [10]:
s = pd.Series(list("abcdef"), index=[49, 48, 47, 0, 1, 2])
s

49    a
48    b
47    c
0     d
1     e
2     f
dtype: object

In [11]:
s.loc[0] # value at index label 0

'd'

In [12]:
s.iloc[0] # value at index location 0

'a'

In [16]:
s.loc[0:1]  # rows at index labels between 0 and 1 (inclusive)

0    d
1    e
dtype: object

In [17]:
s[0:1]

49    a
dtype: object

In [13]:
x = pd.Series(list("abcdef"))
x

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [14]:
x.loc[0]

'a'

In [15]:
x.iloc[0]

'a'

In [22]:
# Tìm số lớn nhất, nhỏ nhất
max_val = data.loc[0]
min_val = data.loc[0]

# Using value at index label 0
for i in data.values:
    if i > max_val:
        max_val = i
    if i < min_val:
        min_val = i
        
print(max_val,min_val)

98 0

In [24]:
data.index

RangeIndex(start=0, stop=100, step=1)

In [33]:
# Tìm số lớn nhất, nhỏ nhất
max_val = data.loc[0]
min_val = data.loc[0]

# convert data.index về list -> list(data.index)
for i in list(data.index):
    if max_val < data.loc[i]:
        max_val = data.loc[i]
    if min_val > data.loc[i]:
        min_val = data.loc[i]
        
print(max_val,min_val)

98 0

In [42]:
list(data.items())

[(0, 77),
 (1, 35),
 (2, 59),
 (3, 46),
 (4, 53),
 (5, 30),
 (6, 85),
 (7, 77),
 (8, 28),
 (9, 22),
 (10, 86),
 (11, 45),
 (12, 46),
 (13, 1),
 (14, 80),
 (15, 36),
 (16, 20),
 (17, 7),
 (18, 85),
 (19, 97),
 (20, 32),
 (21, 16),
 (22, 67),
 (23, 87),
 (24, 15),
 (25, 97),
 (26, 85),
 (27, 46),
 (28, 20),
 (29, 46),
 (30, 84),
 (31, 65),
 (32, 43),
 (33, 7),
 (34, 60),
 (35, 47),
 (36, 61),
 (37, 51),
 (38, 22),
 (39, 8),
 (40, 54),
 (41, 15),
 (42, 58),
 (43, 24),
 (44, 59),
 (45, 91),
 (46, 0),
 (47, 66),
 (48, 57),
 (49, 62),
 (50, 70),
 (51, 97),
 (52, 15),
 (53, 60),
 (54, 54),
 (55, 28),
 (56, 18),
 (57, 21),
 (58, 48),
 (59, 15),
 (60, 53),
 (61, 55),
 (62, 39),
 (63, 32),
 (64, 92),
 (65, 35),
 (66, 55),
 (67, 41),
 (68, 20),
 (69, 52),
 (70, 33),
 (71, 23),
 (72, 69),
 (73, 20),
 (74, 80),
 (75, 20),
 (76, 65),
 (77, 51),
 (78, 71),
 (79, 26),
 (80, 47),
 (81, 94),
 (82, 54),
 (83, 72),
 (84, 69),
 (85, 72),
 (86, 44),
 (87, 65),
 (88, 75),
 (89, 71),
 (90, 42),
 (91, 50),
 (92, 67),
 (93, 88),
 (94, 24),
 (95, 58),
 (96, 52),
 (97, 82),
 (98, 98),
 (99, 68)]

In [36]:
# Tìm số lớn nhất, nhỏ nhất
max_val = data.loc[0]
min_val = data.loc[0]

for index, val in list(data.items()):
    if max_val < val:
        max_val = val
    if min_val > val:
        min_val = val
        
print(max_val,min_val)

98 0

In [37]:
data.count

<bound method Series.count of 0     77
1     35
2     59
3     46
4     53
      ..
95    58
96    52
97    82
98    98
99    68
Length: 100, dtype: int64>

In [30]:
range(data.count())

range(0, 100)

In [38]:
len(data)

100

In [39]:
# Tìm số lớn nhất, nhỏ nhất
max_val = data.loc[0]
min_val = data.loc[0]

for i in range(data.count()):
    if max_val < data.iloc[i]:
        max_val = data.iloc[i]
    if min_val > data.iloc[i]:
        min_val = data.iloc[i]
    
print(max_val, min_val)

98 0

In [40]:
data.min()

0

In [41]:
data.max()

98

In [43]:
print(max(data))
print(min(data))

98
0

In [45]:
# Gía trị trung bình
data.mean()

51.1

In [46]:
above_mean = 0
below_mean = 0
mean_val = data.mean()

for i in range(data.count()):
    if data.iloc[i] > mean_val:
        above_mean += 1
    else:
        below_mean += 1
print(above_mean, below_mean)

52 48

In [44]:
# Số lần xuất hiện của các số trong Series?
count = pd.Series(data).value_counts()
print("Số lần xuất hiện của các số trong Series",count)

Số lần xuất hiện của các số trong Series 20    5
15    4
46    4
54    3
65    3
     ..
57    1
62    1
70    1
18    1
68    1
Length: 62, dtype: int64

In [47]:
# Tìm tần số xuất hiện của các phần tử trong Series
dicts= {i: 0 for i in range(100)}

for i in range(data.count()):
    if data.iloc[i] in dicts.keys():
        dicts[data.iloc[i]] += 1
result = sorted(dicts.items(),key=lambda x: x[1], reverse=True)
result = dict(result)
result

{20: 5,
 15: 4,
 46: 4,
 54: 3,
 65: 3,
 85: 3,
 97: 3,
 7: 2,
 22: 2,
 24: 2,
 28: 2,
 32: 2,
 35: 2,
 47: 2,
 51: 2,
 52: 2,
 53: 2,
 55: 2,
 58: 2,
 59: 2,
 60: 2,
 67: 2,
 69: 2,
 71: 2,
 72: 2,
 77: 2,
 80: 2,
 0: 1,
 1: 1,
 8: 1,
 16: 1,
 18: 1,
 21: 1,
 23: 1,
 26: 1,
 30: 1,
 33: 1,
 36: 1,
 39: 1,
 41: 1,
 42: 1,
 43: 1,
 44: 1,
 45: 1,
 48: 1,
 50: 1,
 57: 1,
 61: 1,
 62: 1,
 66: 1,
 68: 1,
 70: 1,
 75: 1,
 82: 1,
 84: 1,
 86: 1,
 87: 1,
 88: 1,
 91: 1,
 92: 1,
 94: 1,
 98: 1,
 2: 0,
 3: 0,
 4: 0,
 5: 0,
 6: 0,
 9: 0,
 10: 0,
 11: 0,
 12: 0,
 13: 0,
 14: 0,
 17: 0,
 19: 0,
 25: 0,
 27: 0,
 29: 0,
 31: 0,
 34: 0,
 37: 0,
 38: 0,
 40: 0,
 49: 0,
 56: 0,
 63: 0,
 64: 0,
 73: 0,
 74: 0,
 76: 0,
 78: 0,
 79: 0,
 81: 0,
 83: 0,
 89: 0,
 90: 0,
 93: 0,
 95: 0,
 96: 0,
 99: 0}

In [48]:
# Tính số lượng số chẵn? # Tính số lượng số lẻ?
even_count, odd_count = 0,0

for num in data.values:
    if num % 2 == 0:
        even_count +=1
    else:
        odd_count += 1
print("Số chẵn:", even_count)
print("Số lẽ:", odd_count)

Số chẵn: 52
Số lẽ: 48